@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2);
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2);
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #f2f2f2;
    color: #000000;
}

p {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 auto;
    width: 1200px;
    background-color: #ffffff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    position: relative;
}

.navigation {
    display: flex;
    margin-right: 70px;
}

.navigation-logo {
    position: absolute;
    left: 70px;
    top: 0;
}

.navigation-list {
    margin: 0;
    padding: 0;
    width: 390px;
    display: flex;
    margin-right: 237px;
    margin-left: 239px;
    padding-left: 17px;
    list-style-type: none;
    align-items: center;
}

.navigation-user {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-right: 20px;
    align-items: center;
}

.navigation-link {
    display: block;
    text-decoration: none;
    color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    
}

.navigation-link-current {
    border-bottom: 2px solid #756257;
    padding-bottom: 18px;
    margin-top: 18px;
}

.navigation-user-item {
    
}

.navigation-link-search {
    background-image: url(../images/search.svg);
    width: 42px;
    height: 66px;
    background-size: 18px 18px;
}

.navigation-link-favorite {
    background-image: url(../images/favorite.svg);
    width: 42px;
    height: 66px;
    background-size: 18px 18px;
    position: relative;
}

.favorite-number {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #7DB54F;
    left: 24px;
    top: 15px;
    font-weight: 400px;
    font-size: 10px;
    line-height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.navigation-list-item:not(:last-child) {
    margin-right: 34px;
}

.button {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    width: 160px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.button-header {
    padding-top: 9px;
    padding-bottom: 8px;
    align-self: center;
}

.button-brown {
    color: #ffffff;
    background-color: #756157;
    border-radius: 4px;
    outline: none;
}

.button-brown:hover, .button-brown:focus {
    background-color: #615048;
}

.button-brown:active {
    color: rgba(255, 255, 255, 0.3)
}

.main-index-welcome {
    background-repeat: no-repeat;
}

.welcome-background {
    padding-top: 51px;
    padding-bottom: 82px;
    background-image: url(../images/divider.svg), url(../images/sedona-background.jpg);
    background-size: 1200px 57px, 1200px 485px;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, center;
    text-align: center;
}

/*.welcome-background-welcome {
    background-image: url(../images/sedona-welcome.svg);
    margin: auto;
    margin-top: 51px;
    height: 352px;
    width: 458px;
    background-repeat: no-repeat;
}

.welcome-background-devider {
    background-image: url(../images/divider.svg);
    height: 57px;
    width: 1200px;
}*/

.main-container {
    flex-grow: 1;
}

.reasons, .advantages-description, .information-hotel {
    color: #333333;
}

.reasons {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    width: 654px;
    margin: auto;
    margin-bottom: 90px;
}

.information {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: auto;
    margin-top: 63px;
    margin-bottom: 31px;
}

.information-sedona {
    max-width: 620px;
    text-align: center;
}

.advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.advantage-title-svg {
    margin-top: 183px;
}

.advantage-title-svg-without {
    margin-top: 103px;
}

.advantages-title-white {
    color: #ffffff;
}

.advantages-description {
    margin: 0 85px;
    margin-bottom: 79px;
}

.advantages-description-white {
    color: #ffffff;
}

.advantages-description-card {
    margin-bottom: 30px;
}

.advantages-description-black {
    color: #000000;
}

.advantages-item-big {
    display: flex;
    flex-wrap: wrap;
}

.advantages-item {
    text-align: center;
    width: 400px;
}

.advantages-item-description {
    background-color: #82B3D3;
    text-align: center;
    width: 400px;
    box-sizing: border-box;
    padding: 92px 84px;
}

.svg {
    background-repeat: no-repeat;
    background-position: 163px 81px;
    background-size: 75px 72px;
}

.svg-house {
    background-image: url(../images/house.svg);
}

.svg-food {
    background-image: url(../images/food.svg);
}

.svg-presents {
    background-image: url(../images/presents.svg);
}

.advantages-item-grey {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-blue-grey {
    background-color: rgba(131, 179, 211, 0.2);
}

.short-cards {
    display: flex;
}

.information-interest {
    padding-top: 91px;
    padding-bottom: 29px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.button-brown-search{
    font-size: 20px;
    line-height: 36px;
    width: 574px;
    padding: 12px 15px;
    margin-bottom: 93px;
    border-radius: 4px;
}

.information-subscribe {
    color: #ffffff;
    text-align: center;
    padding-top: 94px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    padding-top: 94px;
    padding-bottom: 29px;
}

.subscribe {
    background-image: url("../images/subscribe.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.information-hotel {
    font-size: 20px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    padding-bottom: 56px;
}

.information-hotel-white {
    color: #ffffff;
}

.button-subscribe {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    background-color: #82B3D3;
    border-radius: 0 10px 10px 0;
}

.contact-phone {
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
    width: 720px;
    text-align: center;
    margin-right: 53px;
}

.contact-phone:hover, .contact-phone:focus, .contact-phone:active {
    color: #756157;
}

.html-academy-link:hover path {
    fill: #756157;
}

.html-academy-link:focus path {
    fill: #756157;
}

.contact-phone:active, .html-academy-link:active {
    opacity: 0.3;
}

.button-filter {
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 20px;
}

.button-filter:focus {
    outline: none;
    box-shadow: 0 0 0 3px #ffffff;
}

.filters {
    background-image: url("../images/sedona-hotels-background.jpg");
    background-repeat: no-repeat;
    color:#ffffff;
    padding: 35px 70px 70px;
    margin-bottom: 15px;
}

.filters-header {
    margin-bottom: 40px;
}
.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-items: center;
}

.filters-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin: 0;
    padding: 0;
}

.breadcrumbs-item:not(:last-child) {
    margin-right: 10px;
}

.breadcrumbs-item {

}

.breadcrumbs-link {
    font-size: 16px;
    cursor: pointer;
}

.breadcrumbs-link:hover {
    opacity: 0.6;
}

.breadcrumbs-link:active {
    opacity: 0.3;
}

.breadcrumbs-arrow {
    background-image: url(../images/arrow-right.svg);
    background-size: 5px 8px;
    width: 5px;
    height: 8px;
}

.catalog-filter {

}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 30px;
}

.catalog-filter-structure {
    width: 150px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: none;
}

.catalog-filter-type {
    width: 145px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: none;
}

.catalog-filter-group {
    margin: 0;
    padding: 0;
}

.catalog-filter-item:not(:last-child) {
    margin-bottom: 15px;
}

.button-blue {
    background-color: #82B3D3;
    color: #ffffff;
    border-radius: 4px;
    outline: none;
}

.button-blue:hover, .button-blue:focus {
    background-color: #68A2CA;
}

.button-blue:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.button-light {
    width: 85px;
    font-size: 16px;
    line-height: 20px;
    background-color: rgba(130, 179, 211, 0);
    border:rgba(130, 179, 211, 0);
    color: #ffffff;
}

.button-light:hover {
    opacity: 0.6;
}

.button-light:focus {
    outline: none;
    border: 3px solid #83B3D3;
    border-radius: 4px;
}

.button-light:active {
    opacity: 0.3;
}

.information-result {
    text-transform: uppercase;
    margin: 0;
    margin-right: 191px;
}

.hotel-sort {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 72px;
    margin-bottom: 57px;
}

.sort {
    display: flex;
}

.select-control {
    color: #333333;
    margin-right: 81px;
    width: 287px;
    padding: 14px 43px 13px 19px;
    cursor: pointer;
}

.sort-item {
    margin: 17px 16px;
}

.button-sort {
    width: 48px;
    height: 48px;
    border-radius: 4px;
}

.button-sort:not(:last-child) {
    margin-right: 8px;
}

.button-active {
    border: 2px solid #000000;
}

.button-deactive {
    border: 2px solid #E5E5E5;
}

.button-deactive:focus {
    outline: none;
    border: 2px solid #68A2CA;
}

.button-deactive:hover, .button-deactive:active {
    border: 2px solid #000000;
}

.product-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    width: 300px;
    margin: 16px 0;
}

.product-card-link {
    text-decoration: none;
}

.button-green {
    background-color: #7DB54F;
    color: #ffffff;
    border-radius: 4px;
    outline: none;
}
.button-green:hover, .button-green:focus {
    background-color: #6C9E42;
}

.button-green:active {
    background-color: #7DB54F;
    color: rgba(255, 255, 255, 0.3);
}

.hotel-type, .product-card-price, .button-card {
    margin-bottom: 16px;
}

.hotel-type, .product-card-price, .hotel-number {
    color: #333333;
}

.rate {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333333;
    width: 160px;
    text-align: center;
    background-color: #F2F2F2;
    padding-top: 9px;
    padding-bottom: 8px;
}

.pagination {
    display: flex;
    width: 1056px;
    margin: 0 auto;
    align-items: center;
}

.pagination-list {
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: auto;
    list-style-type: none;
}

.pagination-item {
    text-align: center;
    margin-right: 8px;
}

.pagination-link:hover, .pagination-rest:focus {
    background-color: #68A2CA;
    outline: none;
}

.pagination-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.pagination-link:active {
    background-color:#82B3D3;
}

.pagination-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-decoration: none;
    color: #ffffff;
    width: 55px;
    height: 55px;
    display: block;
    border-radius: 4px;
    padding-top: 9px;
    box-sizing: border-box;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.pagination-current:focus {
    outline: none;
}

.pagination-rest {
    background-color: #82B3D3;
}

.information-subscribe-black {
    color: #000000;
    text-align: center;
}

.information-hotel-black {
    color: #333333;
}

.page-footer {
    display: flex;
    align-items:center;
    height: 120px;
}

.footer-social-list {
    margin: 0;
    padding: 0;
    width: 116px;
    display: flex;
    list-style-type: none;
    align-items: stretch;
    padding-left: 72px;
    padding-right: 52px;
}

.footer-social-item {
    
}

.footer-social-link {
    display: flex;
}

.navigation-icon {
    
}

.footer-social-link:active .navigation-icon {
    fill: rgba(104, 162, 202, 0.3);
}

.footer-social-item:not(:last-child) {
    margin-right: 26px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.search {
    text-align: center;
    background-color: #ffffff;
}

.email {
    display: flex;
    justify-content: center;
    padding-bottom: 94px;
}

.email-input {
    width: 578px;
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 20px 0 19px 22px;
    font: inherit;
    font-size: 18px;
    line-height: 21px;
    background-color: #f2f2f2;
    color: #000000;
}

.forms {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-items {
    display: flex;
    width: 366px;
    justify-content: space-between;
    margin-right: 175px;
    
}

.control {
    position: relative;
    display: block;
    padding-left: 40px;
}

.control-mark {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-right: 19px;
    border-radius: 4px;
    background-color: #ffffff;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.control:hover .control-mark {
    opacity: 0.6;
}

.control:focus .control-mark {
    opacity: 0.6;
    border: 3px solid #83B3D3;
}

.control:active .control-mark {
    opacity: 0.3;
}

.control-input[type="checkbox"]:focus + .control-mark {
    box-shadow: 0 0 0 3px #83B3D3;
}

.control-input[type="checkbox"]:checked + .control-mark {
    background-image: url(../images/ch.svg);
}

.control-radio {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.control-input[type="radio"]:focus + .control-radio {
    box-shadow: 0 0 0 3px #83B3D3;
}

.control-input[type="radio"]:checked + .control-radio {
    background-image: url(../images/round.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.control-label {
    font-weight: 400;
}

.prices {
    border: none;
}

.price-choose {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    margin-bottom: 34px;
}
.price-choose-label {
    position: relative;
}

.range-input:hover {
    box-shadow: 0 0 0 2px #ffffff;
    opacity: 0.6;
}

.price-from:hover + .range-input{
    box-shadow: 0 0 0 2px #ffffff;
    opacity: 0.6;
}

.range-input:focus {
    box-shadow: 0 0 0 3px #81B3D2, inset 0 0 0 3px #81B3D2;
}

.range-input:active {
    background-color: #756257;
}

.price-from {
    position: absolute;
    top: 14px;
    left: 130px;
    color: #ffffff;
    opacity: 0.3;
    order: -1;
}

.price-line {
    position: relative;
}

.range-scale {
    position: relative;
    height: 4px;
    background-color: #FFFFFF;
    opacity: 0.3;
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: #ffffff; 
    opacity: 1;
    top: 0;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.range-toggle:focus {
    outline: none;
    border: 3px solid #83B3D3;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
    outline: none;
    border: 2px solid #83B3D3;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
}

.toggle-min {
    top: -8px;
    left: -10px;
}

.toggle-max {
    top: -8px;
    right: -10px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.range-wrapper-inputs {
    display: flex;
}

.range-input {
    width: 144px;
    border: 2px solid #ffffff;
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 19px;
    font: inherit;
    background-color: transparent;
    color: #ffffff;
    margin-bottom: 32px;
    outline: none;
}

.range-input-left {
    border-radius: 4px 0 0 4px;
}

.range-input-right {
    border-radius: 0 4px 4px 0;
}

.range-input-from {
    border-right: 1px solid #ffffff;
}

.range-input-to {
    border-left: 2px solid #ffffff;
}

.manage {
    display: flex;
    flex-direction: column;
    align-self: end;
    align-items: center;
}

.cards-list {
    margin: auto;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 30px;
}

.product-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 340px);
    column-gap: 18px;
    list-style-type: none;
    padding-bottom: 66px;
    width: 1056px;
}

.product-card {
    padding: 20px;
    width: 300px;
}

.container-catalog {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 auto;
    width: 1200px;
    background-color: #ffffff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.hotel-type {
    width: 133px;
    margin-right: 24px;
}

.product-card-price {
    width: 143px;
}

.button-card {
    width: 140px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-right: 20px;
}

.button-card-favored {
    margin: 0;
    margin-bottom: 16px;
}

.stars {
    display: flex;
    width: 140px;
    
}

.star {
    width: 18px;
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 6px;
}

.card-information {
    display: flex;
    flex-wrap: wrap;
}

.hotel-total {
    width: 175px;
    margin-right: 51px;
}

.hotel-number {
    width: 160px;
    height: 48px;
    padding: 14px 43px 13px 19px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
}

.select:hover, .select:focus {
    outline: none;
    border: 2px solid #83B3D3;
}

.select:active {
    color: #E6E6E6;
    border: 2px solid #E6E6E6;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
    display: none;
}

.modal {
    position: relative;
    margin: auto;
    padding: 63px 79px 69px 61px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-auth {
    width: 575px;
}

.modal-close-button {
    position: absolute;
    top: 54px;
    right: 79px;
    width: 53px;
    height: 53px;
    background-color:#F2F2F2;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.modal-close-button:hover {
    background-color: #E6E6E6;
}

.modal-close-button:focus {
    background-color: #E6E6E6;
    border: 3px solid #83B3D3;
}

.modal-close-button:active path {
    opacity: 0.3;
}

.modal-title {
    margin: 0;
    margin-bottom: 63px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
}

.modal-container-close {
    display: none;
}

.modal-forms {
    border: none;
    font-family: PT Sans, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    margin: 0;
    padding: 0;
}

.date-hotel {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.date-hotel-title {
    margin: 0;
    padding: 0;
    align-self: center;
    max-width: 120px;
}

.date-hotel-input {
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    border: none;
    background-color: #F2F2F2;
    width: 400px;
    padding-top: 15px;
    padding-bottom: 14px;
    padding-left: 19px;
    border-radius: 4px;
}

.date-hotel-input:hover {
    background-color: #E6E6E6;
   
}

.date-hotel-input:focus {
    
}

.date-hotel-input:active {
    background-color: #ffffff;
    
}

.calendar {
    position: absolute;
    background-image: url(../images/calendar.svg);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    border: none;
    top: 0px;
    opacity: 0.3;
    right: 27px;
    top: 18px;
    cursor: pointer;
}

.modal-people {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.date-hotel-people {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.date-hotel-adults {
    width: 288px;
}

.date-hotel-children {
    width: 230px;
}

.people-number {
    width: 133px;
    padding-top: 15px;
    padding-bottom: 14px;
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    background-color: #F2F2F2;
    border-radius: 4px;
    border: none;
}

.people-number::-webkit-outer-spin-button,
.people-number::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.button-sign:hover, .button-sign:focus path {
   opacity: 1;
}

.button-sign:active {
   opacity: 0.2;
}

.button-sign {
    border: none;
    opacity: 0.3;
    cursor: pointer;
}

.button-adults-minus {
    position: absolute;
    left: 168px;
    top: 15px;
}

.button-adults-plus {
    position: absolute;
    left: 250px;
    top: 18px;
}

.button-children-minus {
    position: absolute;
    left: 110px;
    top: 15px;
}

.button-children-plus {
    position: absolute;
    left: 192px;
    top: 18px;
}

.button-modal {
    width: 575px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
}

.error {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    padding-top: 8px;
    padding-left: 174px;
    margin-bottom: 11px;
    vertical-align: bottom;
}

.error-yes {
    color: #FF5757;
}

.tooltip {
  position: absolute;
  top: 58px;
  left: -62px;
  width: 16px;
  height: 16px;
  display: none;
}

.tooltip-text {
    background-color: #333333;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    display: block;
    padding: 15px 18px 18px 22px;
    width: 216px;
    border-radius: 10px;
}

.tooltip::before {
    width: 19px;
    height: 9px;
    background-image: url(../images/tooltip-arrow.svg);
    position: absolute;
    content: "";
    top: -9px;
    left: 118px;
}

.label-form {
    position: relative;
}

.date-hotel-title:hover + .tooltip,
.date-hotel-title:focus + .tooltip-text {
  display: block;
}
